<!DOCTYPE html>
<html lang="en" ng-app="youtube-thumbnail-preview" ng-controller="main">
    <head>
        <meta charset="utf-8" />
        <title>YouTube Thumbnail Preview</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,500" />
        <link rel="stylesheet" href="app/app.css" />
    </head>
    <body>

        <div class="wrapper">

            <!-- HEADER -->
            <header class="header">
                <h1>YouTube Thumbnail Preview</h1>
            </header>



            <!-- UPLOAD AREA -->
            <div class="box">

                <div class="box-sec"></div>

            </div>



            <!-- PREVIEW AREA -->
            <div class="box">

                <!-- channel: returning visitor header -->
                <div class="box-sec">

                    <!-- "watch next" -->
                    <div class="prev-watchnext">
                        <div class="previmg"></div>
                    </div>

                    <!-- small suggestions -->
                    <div class="prev-vlist">
                        <div class="prev-vlist-item" ng-repeat="i in [0,1,2]">
                            <div class="previmg"></div>
                        </div>
                    </div>

                </div>

                <!-- channel: section grid -->
                <div class="box-sec">

                    <div class="prev-grid" ng-repeat="i in [0,1,2,3,4,5,6,7,8,9]">
                        <div class="previmg"></div>
                    </div>

                </div>

                <!-- channel: playlist -->
                <div class="box-sec">

                    <div class="prev-playlist">
                        <div class="prev-playlist-item" ng-repeat="i in [0,1,2,3,4]">
                            <div class="prev-playlist-item-no">
                                {{$index + 1}}
                            </div>
                            <div class="prev-playlist-item-img">
                                <div class="previmg"></div>
                            </div>
                            <div class="prev-playlist-item-text">
                                <strong>Title of the video</strong><br />
                                by Uploader
                            </div>
                            <div class="prev-playlist-item-time">
                                0:00:00
                            </div>
                        </div>
                    </div>

                </div>

                <!-- recommendations sidebar -->
                <div class="box-sec">

                    <div class="prev-rec" ng-repeat="i in [0,1,2,3,4,5,6,7]">
                        <div class="prev-rec-img">
                            <div class="previmg"></div>
                        </div>
                        <div class="prev-rec-text">
                            <strong>Title of the video</strong><br />
                            Uploader<br />
                            123,456 views
                        </div>
                    </div>

                </div>

            </div>

        </div>



        <!-- FOOTER -->
        <footer class="footer">
            Copyright 2016 <a href="http://jangobrick.de">JangoBrick</a>.<br />
            YouTube is a trademark of Google Inc.
            This website is neither affiliated with nor endorsed by Google.
        </footer>



        <!-- dependencies -->
        <script src="node_modules/angular/angular.min.js"></script>

        <!-- app -->
        <script src="app/app.js"></script>

    </body>
</html>
