*, *:after, *:before {
    box-sizing: border-box;
}



html, body {
    display: block;
    width: 100%;
    min-width: 680px;
    min-height: 100%;
    margin: 0;
    padding: 0;
}

body {
    padding-top: 50px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    background: #F1F1F1;
}





a {
    color: inherit;
    text-decoration: underline;
}
a:hover, a:focus {
    color: #167ac6;
    text-decoration: none;
}





.header {
    display: block;
    z-index: 100;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    line-height: 50px;
    padding: 0 16px;
    font-size: 14px;
    font-weight: 500;
    color: #666;
    background: #FFF;
    border-bottom: 1px solid #E8E8E8;
}

h1 {
    display: inline-block;
    margin: 0 8px 0 0;
    padding: 0;
    font-size: 20px;
    color: #F30517;
    font-weight: inherit;
    text-align: left;
    vertical-align: baseline;
}





.box {
    display: block;
    width: 1262px;
    margin: 18px auto;
    background: #FFF;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.box-sec {
    display: block;
    padding: 18px;
    border-top: 1px solid #E8E8E8;
}
.box-sec:first-child {
    border-top: none;
}
.box-sec.centered {
    text-align: center;
}



h2 {
    display: block;
    margin: 0;
    padding-bottom: 10px;
    font-size: 15px;
    font-weight: 500;
    line-height: 1.3em;
    text-align: left;
    color: #333;
}





.btngroup {
    display: block;
    text-align: center;
    font-size: 0;
}



.btn {
    display: inline-block;
    padding: 12px 24px;
    font-size: 16px;
    font-weight: 500;
    line-height: 1;
    text-align: center;
    color: #FFF;
    background: #167ac6;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    outline: none;
    cursor: pointer;
    vertical-align: middle;
}
.btn:hover, .btn:focus {
    background: #126db3;
}
.btngroup > .btn:last-child {
    border-radius: 0 4px 4px 0;
}
.btngroup > .btn:not(:last-child) {
    border-radius: 4px 0 0 4px;
}

.btn > input[type="file"] {
    position: absolute;
    left: -1000px;
}

button::-moz-focus-inner, input::-moz-focus-inner {
    padding: 0;
    border: none;
}





app-thumbnail {
    position: relative;
}

.thumb-img {
    display: block;
    width: 100%;
    height: 100%;
    background: #CCC;
    background-size: cover;
    background-position: center;
}

.thumb-time {
    position: absolute;
    bottom: 2px;
    right: 2px;
    height: 14px;
    line-height: 14px;
    padding: 0 4px;
    font-size: 11px;
    font-weight: 500;
    color: #FFF;
    background: #000;
    opacity: 0.75;
}
app-thumbnail[hide-time] .thumb-time {
    display: none;
}





.prev-watchnext {
    display: inline-block;
    width: 402px;
    height: 226px;
    margin-right: 18px;
}



.prev-vlist {
    display: inline-block;
}

.prev-vlist-item {
    display: block;
    width: 124px;
    height: 70px;
    margin-top: 8px;
}
.prev-vlist-item:first-child {
    margin-top: 0;
}



.prev-playlist {
    display: block;
}

.prev-playlist-item {
    display: block;
    width: 100%;
    padding: 15px;
    font-size: 0;
    border-bottom: 1px solid #E8E8E8;
}
.prev-playlist-item:first-child {
    border-top: 1px solid #E8E8E8;
}

.prev-playlist-item-no {
    display: inline-block;
    width: 20px;
    line-height: 40px;
    text-align: left;
    font-size: 13px;
    color: #666;
}
.prev-playlist-item-img {
    display: inline-block;
    width: 72px;
    height: 40px;
    vertical-align: top;
}
.prev-playlist-item-text {
    display: inline-block;
    width: calc(100% - 80px - 72px - 20px);
    padding-left: 15px;
    line-height: 20px;
    text-align: left;
    vertical-align: top;
    font-size: 13px;
    color: #666;
}
.prev-playlist-item-text > strong {
    color: #333;
    font-weight: 500;
}
.prev-playlist-item-time {
    display: inline-block;
    width: 80px;
    line-height: 40px;
    text-align: right;
    font-size: 13px;
    color: #767676;
}



.prev-grid {
    display: inline-block;
    width: 196px;
    margin: 0 10px 10px 0;
}

.prev-grid-img {
    display: inline-block;
    width: 196px;
    height: 110px;
}

.prev-grid-text {
    font-size: 11px;
    color: #767676;
}
.prev-grid-text > strong {
    font-size: 13px;
    font-weight: 500;
    color: #167ac6;
}



.prev-rec {
    display: inline-block;
    width: 50%;
    margin: 0 0 15px;
}

.prev-rec-img {
    display: inline-block;
    width: 168px;
    height: 94px;
    vertical-align: top;
}

.prev-rec-text {
    display: inline-block;
    padding-left: 8px;
    text-align: left;
    font-size: 11px;
    color: #767676;
}
.prev-rec-text > strong {
    font-size: 14px;
    font-weight: 500;
    color: #333;
}





@media (min-width: 1300px) {
    .prev-grid:nth-child(6n) {
        margin-right: 0;
    }
}

@media (max-width: 1300px) and (min-width: 1100px) {
    .box {
        width: 1056px;
    }
    .prev-grid:nth-child(5n) {
        margin-right: 0;
    }
}

@media (max-width: 1100px) and (min-width: 900px) {
    .box {
        width: 850px;
    }
    .prev-grid:nth-child(4n) {
        margin-right: 0;
    }
}

@media (max-width: 900px) {
    .box {
        width: 644px;
    }
    .prev-grid:nth-child(3n) {
        margin-right: 0;
    }
}





.footer {
    display: block;
    height: 103px;
    padding: 16px;
    font-size: 14px;
    line-height: 1.5em;
    background: #FFF;
    color: #666;
    border-top: 1px solid #E8E8E8;
}

.footer > p {
    display: block;
    margin: 0 0 8px;
}
.footer > p:last-child {
    margin: 0;
}

.footer strong {
    font-weight: 500;
    color: #333;
}
